<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>01-car-service-system</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CustomerRegister</display-name>
		<servlet-name>CustomerRegister</servlet-name>
		<servlet-class>com.gqt.controller.CustomerRegister</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>com.gqt.controller.CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCarDetails</display-name>
		<servlet-name>AddCarDetails</servlet-name>
		<servlet-class>com.gqt.controller.AddCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditCarDetails</display-name>
		<servlet-name>EditCarDetails</servlet-name>
		<servlet-class>com.gqt.controller.EditCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceRequest</display-name>
		<servlet-name>ServiceRequest</servlet-name>
		<servlet-class>com.gqt.controller.ServiceRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckStatus</display-name>
		<servlet-name>CheckStatus</servlet-name>
		<servlet-class>com.gqt.controller.CheckStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.gqt.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewCustomers</display-name>
		<servlet-name>ViewCustomers</servlet-name>
		<servlet-class>com.gqt.controller.ViewCustomers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewRequests</display-name>
		<servlet-name>ViewRequests</servlet-name>
		<servlet-class>com.gqt.controller.ViewRequests</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStatus</display-name>
		<servlet-name>UpdateStatus</servlet-name>
		<servlet-class>com.gqt.controller.UpdateStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerRegister</servlet-name>
		<url-pattern>/CustomerRegister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCarDetails</servlet-name>
		<url-pattern>/AddCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCarDetails</servlet-name>
		<url-pattern>/EditCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceRequest</servlet-name>
		<url-pattern>/ServiceRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckStatus</servlet-name>
		<url-pattern>/CheckStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewCustomers</servlet-name>
		<url-pattern>/ViewCustomers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRequests</servlet-name>
		<url-pattern>/ViewRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStatus</servlet-name>
		<url-pattern>/UpdateStatus</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
